/*< link rel= "stylesheet" href="bower_components/dist/angular-clock.css">*/

#date{

}
#DateNTime{
  display: flex;
  flex-direction: row;

}
.dateTime{
  font-size: 30px;
  color: darkblue;
}


/* *************  table related propertese **************/
table{
  width: 100%;
}

th{
  background-color: #9dffe9;
  font-size: 15px;
  font-weight: 900;
}

td{
  /* align-items: center; */
  text-align: center;
  border-right-style: solid;
  border-right-color: rgb(3, 3, 48);
  border-right-width: 1px
  
  
}

.hall{
  background-color: #b4ffe9;
  font-size: 15px;
}
.f1{
  background-color: beige;
}

.f2{

  background-color: greenyellow;
}


